<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="teamwarpcbstuido.IESEKI" >

    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/player"
        android:label="IESEKI"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <activity
            android:name=".Layout.Loading"
            android:label="IESEKI"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Layout.Link"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Layout.Help"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Layout.Option"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Layout.ZeroSetting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Layout.SelectMenu"
            android:label="@string/title_activity_loading"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
